.logo:hover{
    width: 60px;
    position:absolute;
    left: 0;
    top: 0;
    transition: all 3s;
    transform: rotate(360deg);
    animation: backwards 3s linear 2s infinite;
}
.bgvideo{
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    z-index: -1;
}
.navbar{
   float: right;
   position: relative;
}
a{
    font-family: "Times New Roman";
    font-size: 20px;
    color:white;
}
p{
    font-family: "Times New Roman";
    font-size: 20px;
}
h2{
    font-family: "Times New Roman";
    font-size: 20px;
    color:white;
}
h4{
    font-family: "Times New Roman";
    font-size: 20px;
    color:black;
}
h5{
    font-family: "Times New Roman";
    font-size: 20px;
    color:white;
}
.left, .right, .center {
    box-sizing: border-box;
 }
.left, .right, .center {
float: left;
width: 33%;
color: white;
padding: 5px;
height: 1750px;
text-align: center;
}
.container:after {
    clear: both;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.active{
    color: rgb(108, 176, 106);
}
img:hover{
    filter: grayscale(70%);
}
.dropbutton {
    background-color: #c2eadb;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  @media only screen and (max-width: 768px) {

    .left, .right, .center {
        display: block;
     }
    .bgvideo{
        display: none;
    }

    h5 {
        color: black;
        padding: 4vw;
        display: inline-block;
    }
    .navbar {
        width: 100%;
        background-color: black;
        text-align: center;
    }
     nav a {
        color: white;
        padding: 4vw;
        display: inline-block;
    }
    img {
        width: 100%;
        margin: 0 0 2vw;
    }
  }

  @media only screen and (max-width: 600px) {
    nav {
    display: none;
    }
    .hamburger-menu {
    display: block;
    }
    .bgvideo{
        display: none;
    }

    h5 {
        color: white;
        padding: 4vw;
        display: inline-block;
        text-align: center;
    }
    img {
        width: 100%;
        margin: 0 0 2vw;
    }
 }